<table>
  <tr>
    <th>Uppercase Letters (A-Z)</th>
    <td><input type="checkbox" [(ngModel)]="uppercaseLetters" /></td>
    <td>Min Length</td>
    <td><input type="text" [(ngModel)]="uppercaseLettersMinLength" /></td>
  </tr>
  <tr>
    <th>Lowercase Letters (a-z)</th>
    <td><input type="checkbox" [(ngModel)]="lowercaseLetters" /></td>
    <td>Min Length</td>
    <td><input type="text" [(ngModel)]="lowercaseLettersMinLength" /></td>
  </tr>
  <tr>
    <th>Numbers (0-9)</th>
    <td><input type="checkbox" [(ngModel)]="numbers" /></td>
    <td>Min Length</td>
    <td><input type="text" [(ngModel)]="numbersMinLength" /></td>
  </tr>
  <tr>
    <th>Symbols (!@#$&?)</th>
    <td><input type="checkbox" [(ngModel)]="symbols" /></td>
    <td>Min Length</td>
    <td><input type="text" [(ngModel)]="symbolsMinLength" /></td>
  </tr>
  <tr>
    <th>Arithmetic Operators (%*+-=/)</th>
    <td><input type="checkbox" [(ngModel)]="arithmeticOperators" /></td>
    <td>Min Length</td>
    <td><input type="text" [(ngModel)]="arithmeticOperatorsMinLength" /></td>
  </tr>
  <tr>
    <th>Special Characters (~^()_`{{'{'}}{{'}'}}|[]\:";'{{'<'}}'>?,.'")</th>
    <td><input type="checkbox" [(ngModel)]="specialCharacters" /></td>
    <td>Min Length</td>
    <td><input type="text" [(ngModel)]="specialCharactersMinLength" /></td>
  </tr>
  <tr>
    <th>Password Length</th>
    <td><input type="text" [(ngModel)]="passwordLength" /></td>
  </tr>
  <tr>
    <th><button (click)="generate()">Generate!</button></th>
    <td>{{ generatedPassword }}</td>
  </tr>
</table>