<h3>Password Generator</h3>
<p class="text-justify">Generates passwords with desired strength. Use the controls below to customize the output.</p>

<form [formGroup]="passwordGeneratorForm">
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="useUppercaseLetters" id="useUppercaseLetters">
        <label class="custom-control-label" for="useUppercaseLetters">Uppercase Letters</label>
      </div>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" formControlName="uppercaseLetters" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="useLowercaseLetters" id="useLowercaseLetters">
        <label class="custom-control-label" for="useLowercaseLetters">Lower Letters</label>
      </div>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" formControlName="lowercaseLetters" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="useNumbers" id="useNumbers">
        <label class="custom-control-label" for="useNumbers">Numbers</label>
      </div>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" formControlName="numbers" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="useSymbols" id="useSymbols">
        <label class="custom-control-label" for="useSymbols">Symbols</label>
      </div>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" formControlName="symbols" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="useArithmeticOperators" id="useArithmeticOperators">
        <label class="custom-control-label" for="useArithmeticOperators">Arithmetic Operators</label>
      </div>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" formControlName="arithmeticOperators" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="useSpecialCharacters" id="useSpecialCharacters">
        <label class="custom-control-label" for="useSpecialCharacters">Special Characters</label>
      </div>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" formControlName="specialCharacters" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="allowSpaces" id="allowSpaces">
        <label class="custom-control-label" for="allowSpaces">Allow Spaces</label>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="allowRepeatingCharacters" id="allowRepeatingCharacters">
        <label class="custom-control-label" for="allowRepeatingCharacters">Allow Repeating Characters</label>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <label>Password length</label>
    </div>
    <div class="col-md-6">
      <input type="range" class="custom-range" min="{{ passwordLengthMin }}" max="{{ passwordLengthMax }}" formControlName="passwordLength" #ref (change)="passwordLengthChange(ref.value)">
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" formControlName="passwordLength" readonly />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button (click)="generate()" class="btn btn-success">Generate!</button>
      <button (click)="resetForm()" class="btn btn-info ml-1">Reset!</button>
    </div>
    <div class="col-md-8">
      <div class="input-group mb-2">
        <input type="text" class="form-control" formControlName="generatedPassword" placeholder="Generated password" id="generatedPassword" />
        <div class="input-group-prepend">
          <div class="input-group-text" style="cursor: pointer;" title="Click to copy" (click)="copyToClipboard()"><i class="far fa-copy"></i></div>
        </div>
      </div>
    </div>
  </div>
</form>