<table [formGroup]="passwordGeneratorForm">
  <tr>
    <th>Uppercase Letters (A-Z)</th>
    <td><input type="checkbox" formControlName="uppercaseLetters" /></td>
    <td>Min Length</td>
    <td><input type="text" formControlName="uppercaseLettersMinLength" /></td>
  </tr>
  <tr>
    <th>Lowercase Letters (a-z)</th>
    <td><input type="checkbox" formControlName="lowercaseLetters" /></td>
    <td>Min Length</td>
    <td><input type="text" formControlName="lowercaseLettersMinLength" /></td>
  </tr>
  <tr>
    <th>Numbers (0-9)</th>
    <td><input type="checkbox" formControlName="numbers" /></td>
    <td>Min Length</td>
    <td><input type="text" formControlName="numbersMinLength" /></td>
  </tr>
  <tr>
    <th>Symbols (!@#$&?)</th>
    <td><input type="checkbox" formControlName="symbols" /></td>
    <td>Min Length</td>
    <td><input type="text" formControlName="symbolsMinLength" /></td>
  </tr>
  <tr>
    <th>Arithmetic Operators (%*+-=/)</th>
    <td><input type="checkbox" formControlName="arithmeticOperators" /></td>
    <td>Min Length</td>
    <td><input type="text" formControlName="arithmeticOperatorsMinLength" /></td>
  </tr>
  <tr>
    <th>Special Characters (~^()_`{{'{'}}{{'}'}}|[]\:";'{{'<'}}'>?,.'")</th>
    <td><input type="checkbox" formControlName="specialCharacters" /></td>
    <td>Min Length</td>
    <td><input type="text" formControlName="specialCharactersMinLength" /></td>
  </tr>
  <tr>
    <th>Password Length</th>
    <td><input type="text" formControlName="passwordLength" /></td>
  </tr>
  <tr>
    <th><button (click)="generate()">Generate!</button></th>
    <td>{{ generatedPassword }}</td>
  </tr>
</table>