<h3 class="mt-2">Pin Generator</h3>
<p class="text-justify">Generates 4-digit and 6 digit pins for Credit/Debit cards & OTPs.</p>

<form [formGroup]="pinGeneratorForm">
  <div class="form-group row">
    <label for="fourDigitPin" class="col-md-4 col-form-label">4-Digit Pin or OTP</label>
    <div class="col-md-8">
      <div class="input-group mb-2">
        <input type="text" class="form-control" formControlName="fourDigitPin" id="fourDigitPin" placeholder="4-Digit Pin or OTP">
        <div class="input-group-prepend">
          <div class="input-group-text" style="cursor: pointer;" title="Click to copy" (click)="copyFourDigitPinToClipboard()"><i class="far fa-copy"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="sixDigitPin" class="col-md-4 col-form-label">6-Digit Pin or OTP</label>
    <div class="col-md-8">
      <div class="input-group mb-2">
        <input type="text" class="form-control" formControlName="sixDigitPin" id="sixDigitPin" placeholder="6-Digit Pin or OTP">
        <div class="input-group-prepend">
          <div class="input-group-text" style="cursor: pointer;" title="Click to copy" (click)="copySixDigitPinToClipboard()"><i class="far fa-copy"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="allowRepeatingCharacters" id="allowRepetition">
        <label class="custom-control-label" for="allowRepetition">Allow Repetition</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <button (click)="generate()" class="btn btn-success">Generate!</button>
      <button (click)="clear()" class="btn btn-info ml-1">Clear!</button>
    </div>
  </div>
</form>